.grid
  .row
      header(class="col-12 l-header")
        h1 Type 3 Rowster 
        h2 Word Planner
  .row
    section(class="col-4 flag")
      .box
        span.text
          h2.word Top
      .box
        span.text
          h2.word Bottom
      .flag.top
        span(class="text") 
          span.ui 
            a.up(href="up") &#9650;
            a.down(href="down") &#9660;
          h2.word Word
    section(class="col-4 flag")
      .box
        span.text
          h2.word Top
      .box
        span.text
          h2.word Bottom
      .flag.bottom
        span(class="text") 
          span.ui 
            a.up(href="up") &#9650;
            a.down(href="down") &#9660;
          h2.word Word
    section(class="col-4 flag")
      .box
        span.text
          h2.word Top
      .box
        span.text
          h2.word Bottom
      .flag.top
        span(class="text") 
          span.ui 
            a.up(href="up") &#9650;
            a.down(href="down") &#9660;
          h2.word Word
        
  .row
      footer(class="col-12 l-footer")
        p(class="credits") Concept by Natalie Hughes, Developed by Jay Zawrotny 
        ul
          li
            a(href="/wordset", class="sets") View Sets
          li
            a(href="/wordset/words", class="words") View Words
          li
            a(href="/wordset/create", class="save") Save Set
              
