doctype 5
html(lang="en")
  head
    title Rowster Type Installation Prototype
    link(rel='stylesheet', href='/css/screen.css')
    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/js/ui.js")
    script(type="text/javascript", src="/js/api.js")
  body!= body
